---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"token":"141127d207221d5dcd3c9df5dea6d3","amount":"1000"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=7be53cca82315359d339ed54273dbe
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"958b2fb79b8d4b74d9599072bf9f2d76"
    body:
      encoding: UTF-8
      string: '{"token":"141127d207221d5dcd3c9df5dea6d3","success":true,"error_code":null}'
  recorded_at: Thu, 17 Feb 2022 13:56:44 GMT
recorded_with: VCR 6.0.0
