---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"token":"invalid","amount":"1000"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=7be53cca82315359d339ed54273dbe
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token":null,"success":false,"error_code":1000007}'
  recorded_at: Thu, 17 Feb 2022 13:56:45 GMT
recorded_with: VCR 6.0.0
