---
http_interactions:
- request:
    method: post
    uri: https://www.fakepay.io/purchase
    body:
      encoding: UTF-8
      string: '{"amount":"1000","card_number":"4242424242424242","cvv":"123","expiration_month":"01","expiration_year":"2024","zip_code":"10045"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token=invalid
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Token realm="Application"
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: 'HTTP Token: Access denied.

'
  recorded_at: Tue, 15 Feb 2022 08:43:23 GMT
recorded_with: VCR 6.0.0
